@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* , ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans' ,sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: top 250% left -50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom 250%  right -50%;
}

.card{
    background-color: white;
    border-radius: 20px;
}

.images{
    position: relative;
    width: fit-content;
}

.bg-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profile-img{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 50%;
}

.profile{
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 20px;
}

.name{
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

.age{
    padding-left: 5px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.location{
    padding: .5rem;
    color: hsl(0, 0%, 59%);
}

.reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding: 1rem;
}

.number{
    color: hsl(229, 23%, 23%) ;
    font-size: 18px;
}

.text{
    margin-top: 5px;
    color: hsl(0, 0%, 59%);
    font-size: .7em;
    letter-spacing: 1px;
}

hr{
    border-top: 0;
}